<!doctype html>
<html>
  <head>
    <title>Literally Canvas</title>
    <link href="literallycanvas.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="index.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body>
    
    <!-- you really ought to include react-dom, but for react 0.14 you don't strictly have to. -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js" type="text/javascript"></script>
    <script type="text/javascript" src="literallycanvas.js"  type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Welcome!</h4>
              <p class="text-muted">The information on this site is purely user maintained and may not be accurate. </p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>MamaTopos</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
      <div class="container-fluid">
    <div class='album py-5 bg-light'>
        
        <div class='row'>
          <!--<div id="versions" class="col-4 d-sm-flex">-->
            <!--<div class="container">-->
              
          <!--    <div class="card mb-4 shadow-sm">-->
          <!--      <img class="card-img-top" data-src="" alt="Click to see topo">-->
          <!--      <div class="card-body"></div>-->
          <!--    </div>-->
          <!--    <div class="card mb-4 shadow-sm">-->
          <!--      <img class="card-img-top" data-src="" alt="Click to see topo">-->
          <!--      <div class="card-body"></div>-->
          <!--    </div>-->
          <!--    <div class="card mb-4 shadow-sm">-->
          <!--      <img class="card-img-top" data-src="" alt="Click to see topo">-->
          <!--      <div class="card-body"></div>-->
          <!--    </div>-->
              
            <!--</div>-->
          <!--</div>-->
          <div class="col-md-8">
            <div class="fs-container">
              <div id="lc"></div>
            </div>    
            <p id="">
            <form id="form" >
              <fieldset>
                  <label for="name">Name:</label>
                  <input type="text" id="name" name="name" placeholder="Enter your full name" required/>
          
                  <label for="routename">routename</label>
                  <input type="text" id="routename" name="route" placeholder="Enter the route name" required/>
          
                  <label for="notes">Notes and Beta</label>
                  <textarea name="notes" rows="10" cols="30"></textarea>
          
                  <label for="json" class="hidden">don't touch</label>
                  <input id="topoTarget" class="hidden" type="textarea" name="topojson"/>
          
                  <button type="button" id="submitTopo" >Sumbit Topo</button>
                </fieldset>
              </form>  
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="/js/drawing.js"></script> 

      <div id="status"></div>
       <script type="text/javascript">
        // hack to save drawing json string
        // by changing the value of a hidden form field every second.
        $('#lc').ready(function() {
          const setTopo = function() {
            const topoTarget = document.getElementById('topoTarget');
            topoTarget.value = JSON.stringify(lc.getSnapshot(['shapes', 'imageSize', 'colors', 'position', 'scale', 'backgroundShapes']));
          };
          setInterval(setTopo, 1000);
        });

          // adding an event listener would make more sense
          //just didn't figure it out yet
          document.getElementById('submitTopo').addEventListener('click',submitTopo());
          
          function submitTopo(){
             postTopo().then(function(results){ 
             console.log( "resultsz"+results);
              window.location.replace('/viewclimb?id='+results.climbid)
            });
            
            async function postTopo(){
               const statusEle = document.getElementById('status');
               const data = new URLSearchParams(new FormData(form));
               const response = await fetch('/savetopo', {
                method: 'post',
                   body: data,
              })
              .then(function(response){
                console.log(response);
              let newTopoJsondata = response.json();
              console.log(newTopoJsondata);
               console.log(newTopoJsondata.climbid);
              return response.json();
              })
                
              }
              
          }
          
          // function postTopo() {
          //   const statusEle = document.getElementById('status');
          //   const data = new URLSearchParams(new FormData(form));
          //   const response = await fetch('/savetopo', {
          //     method: 'post',
          //       body: data,
          //   });
          //   .then( function(status){
          //     return status.json();
          //   }).then(function(json) {
          //     console.log(json.climbid);
          //     console.log(json.createStatus)
          //     window.location.replace('https://84113db646b54538946028a66c8c1196.vfs.cloud9.us-west-2.amazonaws.com/viewclimb?id='+json.climbid);              
          //     console.log(json);
          //     statusEle.innerHTML = document.createTextNode(json.createStatus);
          //   }).catch(function(status) {
          //     statusEle.innerHTML = document.createTextNode('Somthings not working' + json.createStatus);     
          //   });
          // }
 
      </script>
      <!-- bootstrap js -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>
