<!doctype html>
<html>
  <head>
    <title>Literally Canvas</title>
    <link href="literallycanvas.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">     
    <link rel="stylesheet" type="text/css" href="index.css"/>

  </head>

  <body>
    
    <!-- you really ought to include react-dom, but for react 0.14 you don't strictly have to. -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-with-addons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js" type="text/javascript"></script>
    <script type="text/javascript" src="literallycanvas.js"  type="text/javascript"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <style>

    </style>


    
        <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/">MamaTopo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" placeholder="Search" type="text">
          </form>
        </div>
      </nav>
    <div class="container">

      <header>
        <h1 id="routenameheader"></h1>
        <h3 id="verheader"><h3>
        <h3 id="name"><h3>
      </header>
      
      <div class="d-flex">
        <form class="controls export">
          <input class="" type="submit" data-action="export-as-png" value="Full Printable Image">
        </form>
        <a id="editLink" href="/climb"><input type="submit" name="edit" value="Edit"/></a>
      </div>
    
      <div class="row">
        <div class="container col">
          <div class="row">
            <div class="col">
              <div class="fs-container" >
                 <div id="displaytopo"></div>
                <div id="lc" class="hidden" ></div>
              </div>
            </div>
    
          </div>
          <div class="row">
            <button id="prevtopo" class="col" onclick="previousTopo()">Previous Version</button>
            <button id=nexttopo class="col" onclick="nextTopo()" >Next Version</button>
          </div>
        </div>
        <div class="col-md">
          <ul id="info" class="list-group row">
            <li class="list-group-item d-flex justify-content-between" id="notes"></li>
          </ul>
        </div>
      </div>
      
    </div>
      

    <div id="contact"></div>

        <script type="text/javascript">
        
          function getUrlVars() {
              topoVars = {};
              var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
              topoVars[key] = value;
          });
          return topoVars;
        }
        var urlTopoVars = getUrlVars();
        //if urlTopovars
        //then render topo array
        //else render new topo
        
            // loading a preexisting topo
            var lc = LC.init(document.getElementById("lc"), {
                keyboardShortcuts: false,
                tools: [LC.tools.Pencil, LC.tools.Eraser, LC.tools.Line,
                LC.tools.Text, LC.tools.Pan],
                imageURLPrefix: 'lc-images',
                toolbarPosition: 'bottom',
                defaultStrokeWidth: 1,
                strokeWidths: [1],
                backgroundColor: 'white'
            });
            
            
          var topoID;
          async function getArrayOfTopos(id) {
            topoID = id;
            const response = await fetch('topo/'+id, {});
            var editButton = document.getElementById('editLink');
            editButton.href += '?id=' + id;
            
            const json = await response.json();
            return json.result;
          } 
         
          var arrayOfTopos;
          
          getArrayOfTopos(urlTopoVars.id).then(function(results) {
             $('lc').ready(function() {
              lc.loadSnapshot(JSON.parse(results[results.length-1].JSONtopo));
              initNav();
              initTopoHTML(results);
              console.log(results);
           });
            
            arrayOfTopos=results;
          });
          
          var currentTopoView
          
          function initNav(){
          currentTopoView=arrayOfTopos.length-1;
          if (currentTopoView==0)
            document.getElementById("prevtopo").disabled=document.getElementById("nexttopo").disabled=true;
            
            refreshHTML();
            const routeName =document.getElementById('routename');
            const ver =document.getElementById('version');
                
            routeName.value= arrayOfTopos[arrayOfTopos.length-1].ClimbName;
            ver.value= arrayOfTopos.length;
         
          }
          function refreshHTML(){
            document.getElementById("routenameheader").innerHTML = arrayOfTopos[currentTopoView].ClimbName;
            document.getElementById("verheader").innerHTML = "Version: "+arrayOfTopos[currentTopoView].Version;
            document.getElementById("name").innerHTML = "Last edited by: "+arrayOfTopos[currentTopoView].Name+" On "+arrayOfTopos[currentTopoView].Time;
            document.getElementById("notes").innerHTML = "Notes and Beta: "+arrayOfTopos[currentTopoView].Notes;
            document.getElementById("nexttopo").disabled = true;
            var img = lc.getImage().toDataURL();
            var iframe = '<iframe src="' + img + '" frameborder="0" style=" width:500px; height:600px;"></iframe>'
            document.getElementById('displaytopo').innerHTML=iframe;
          }
          
          
          function previousTopo(){
           currentTopoView--;
           lc.loadSnapshot(JSON.parse(arrayOfTopos[currentTopoView].JSONtopo));
           refreshHTML();
              if (currentTopoView==0)
                 document.getElementById("prevtopo").disabled = true;
              else
                 document.getElementById("prevtopo").disabled = false;
              if (currentTopoView==arrayOfTopos.length-1)
                 document.getElementById("nexttopo").disabled = true;
              else
                 document.getElementById("nexttopo").disabled = false;
          }
         
         
          function nextTopo(){
            currentTopoView++;
            lc.loadSnapshot(JSON.parse(arrayOfTopos[currentTopoView].JSONtopo));
            refreshHTML();
              if (currentTopoView==arrayOfTopos.length-1)
                document.getElementById("nexttopo").disabled = true;
              else
                document.getElementById("nexttopo").disabled = false;
              if (currentTopoView==0)
                document.getElementById("prevtopo").disabled = true;
              else
                document.getElementById("prevtopo").disabled = false;
              }
    
          $(document).ready(function() {
        $('.controls.export [data-action=export-as-png]').click(function(e) {
          e.preventDefault();
            var img = lc.getImage().toDataURL();
            var iframe = '<iframe src="' + img + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>'
            var x = window.open();
            x.document.open();
            x.document.write(iframe);
            x.document.close()
            
           
        });
      });
             
    </script> 

  </body>
</html>
